// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$font-family: 'Opoen Sans', sans-serif;

// Main Colors
$color-primary: #4D89BD;
$color-secondary: #aeb0b2;
$color-tertiary: #dcdedf;
